<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Register Salon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked">Nama Salon</ion-label>
      <ion-input [(ngModel)]="nama_salon" color="dark" name="nama" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Alamat</ion-label>
      <div id="map" class="map" style="width:400px;height: 200px;padding:8px; margin:5px"></div>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">No. Telp</ion-label>
      <ion-input [(ngModel)]="nomor_telepon" color="dark" name="telepon" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jam buka</ion-label>
      <ion-datetime [(ngModel)]="jam_buka" displayFormat="HH:mm" value="08:00"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Jam tutup</ion-label>
      <ion-datetime [(ngModel)]="jam_tutup" displayFormat="HH:mm" value="17:00"></ion-datetime>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" (click)="register()" class="ion-no-margin">Register</ion-button>
  </div>
</ion-content>