<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Daftar Fasilitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>
        
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item-sliding side="start" *ngFor="let fasilitas of list_fasilitas; let i = index">
      <ion-item>
        <ion-label>
          <h2>{{fasilitas.nama_fasilitas}}</h2>
        </ion-label>
      </ion-item>
      <ion-item-options start="RTL"><ion-button color="danger" (click)="removeFasilitas(fasilitas.idFasilitas)">Delete</ion-button></ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="menujuHalamanTambahFasilitas()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
  