<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Daftar jasa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content>
       
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let jasa of jasa_salon" (click)="menujuHalamanInformasiJasa(jasa.idJasa)">
      <ion-label>
        <h2>{{jasa.nama_jasa}}</h2>
        <h3>Rp. {{jasa.harga}}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="menujuHalamanTambahJasa()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
