<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>pengaturan</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row color="light" justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div padding>
        <ion-text><b><u>Pilih Kriteria</u></b></ion-text>
        <ion-item color="light">
          <ion-select multiple="true" placeholder="Pilih kriteria" style="max-width: 100% !important; height:100%;"
            [(ngModel)]="kriteria" (ionChange)="refreshSelectedKriteria()">
            <ion-select-option *ngFor="let m_kriteria of master_kriteria" [value]="selectedKriteria(m_kriteria)">
              {{m_kriteria.nama_kriteria}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div style="width: inherit;height: 200px; border: 1px solid black;">
          <ion-row>
            <ion-col>
              <ion-text><b>Urutkan mulai dari terpenting</b></ion-text>
            </ion-col>
          </ion-row>
          <ion-list>
            <ion-reorder-group (ionItemReorder)="reorderSelectedKriteria($event)" disabled="false">
              <ion-reorder *ngFor="let kriteria of selected_kriteria">
                <ion-item>
                  <ion-label>
                    {{kriteria.nama_kriteria}}
                  </ion-label>
                </ion-item>
              </ion-reorder>
            </ion-reorder-group>
          </ion-list>
        </div>
      </div>

      <div padding *ngIf="displayContainerReorderFasilitas()">
        <ion-text><b><u>Pilih Fasilitas</u></b></ion-text>
        <ion-item color="light">
          <ion-select multiple="true" placeholder="Pilih fasilitas" style="max-width: 100% !important;height: 100%;"
            [(ngModel)]="subkriteria" (ionChange)="refreshSelectedFasilitas()">
            <ion-select-option *ngFor="let m_subkriteria of master_subkriteria"
              [value]="selectedSubkriteria(m_subkriteria)">
              {{m_subkriteria.nama_subkriteria}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="width: inherit;height: inherit; border: 1px solid black;">
          <ion-row>
            <ion-col>
              <ion-text><b>Urutkan mulai dari terpenting</b></ion-text>
            </ion-col>
          </ion-row>
          <ion-list>
            <ion-reorder-group (ionItemReorder)="reorderSelectedFasilitas($event)" disabled="false">
              <ion-reorder *ngFor="let fasilitas of selected_fasilitas">
                <ion-item>
                  <ion-label>
                    {{fasilitas.nama_subkriteria}}
                  </ion-label>
                </ion-item>
              </ion-reorder>
            </ion-reorder-group>
          </ion-list>
        </div>
      </div>
      <div padding>
        <ion-button color="success" size="large" type="submit" (click)="save()" expand="block">Simpan</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-content>