<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3.5" size-sm>
        <div>Nama Salon </div>
      </ion-col>
      <ion-col>
        <div> {{nama_salon}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3.5" size-sm>
        <div>Alamat Salon </div>
      </ion-col>
      <ion-col>
        <div> {{alamat_salon}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3.5" size-sm>
        <div>Waktu Buka </div>
      </ion-col>
      <ion-col>
        <div> {{waktu_buka}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3.5" size-sm>
        <div>Waktu reminder </div>
      </ion-col>
      <ion-col>
        <div> {{waktu_diingatkan}}</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button style="width: 100%;" (click)="openOptionTimer()">Ubah Waktu Reminder</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button style="width: 100%;" (click)="menampilkanInformasiSalon()">Info Salon</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button style="width: 100%;" (click)="arahkan()">Arahkan</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <ion-button color="danger" style="width: 100%;" (click)="hapusReminder('hapus')">Hapus Pengingat</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>