<ion-content fullscreen>
  <form #form="ngForm">
    <ion-grid>
      <ion-row color="light" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login Salonku</h3>
          </div>
          <div padding>
            <ion-item color="light">
              <ion-input color="dark" name="username" type="text" placeholder="Username" (input)="getUsername($event)"
                required></ion-input>
            </ion-item>
            <ion-item color="light">
              <ion-input color="dark" name="password" type="password" placeholder="Password"
                (input)="getPassword($event)" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button color="success" size="large" type="submit" (click)="login()" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <label style="text-align:center;margin:auto;">Tidak punya akun ? &nbsp; <a routerLink="/register"> Register</a>
        </label>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>