<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Tambah Fasilitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked">Nama Fasilitas</ion-label>
      <ion-select [(ngModel)]="id_fasilitas">
        <ion-select-option *ngFor="let fasilitas of master_fasilitas" [value]="fasilitas.idFasilitas">{{fasilitas.nama_fasilitas}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" (click)="tambahFasilitas()" class="ion-no-margin">Tambah Fasilitas</ion-button>
  </div>
</ion-content>
  