<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Informasi Jasa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked">Nama Jasa</ion-label>
      <ion-input [(ngModel)]="nama_jasa" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Harga</ion-label>
      <ion-input [(ngModel)]="harga" type="number" placeholder="Harga" readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Keterangan</ion-label>
      <ion-textarea [(ngModel)]="keterangan" rows="5" cols="20" placeholder="Keterangan" readonly></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Gambar</ion-label>
      <ion-slides [options]="sliderOptions">
        <ion-slide *ngFor="let gambar of list_gambar" style="height: 400px;width: 100% ;">
          <ion-card style="width: 100%; height: 400px;">
            <img src="{{url}}/gambarjasa-{{gambar.idgambar}}{{gambar.idSalon}}{{gambar.idJasa}}.{{gambar.ext}}"
              style="width: 400px; height: 400px;">
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" (click)="menujuHalamanEditJasaTertentu()" class="ion-no-margin">Edit Jasa
    </ion-button>
  </div>
</ion-content>