<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Tambah Jasa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
        <ion-item>
          <ion-label position="stacked">Nama Jasa</ion-label>
          <ion-select [(ngModel)]="id_jasa">
            <ion-select-option *ngFor="let jasa of master_jasa" [value]="jasa.idJasa">{{jasa.nama_jasa}}</ion-select-option>
          </ion-select>
        </ion-item>
    
        <ion-item>
          <ion-label position="stacked">Harga</ion-label>
          <ion-input [(ngModel)]="harga" type="number"  placeholder="Harga"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Keterangan</ion-label>
          <ion-textarea [(ngModel)]="keterangan" rows="5" cols="20" placeholder="Keterangan"></ion-textarea>
        </ion-item>
      </ion-list>
    
      <div class="ion-padding">
        <ion-button expand="block" type="submit" (click)="tambahJasa()" class="ion-no-margin">Tambah Jasa</ion-button>
      </div>
</ion-content>
