<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>  
    <ion-title>Riwayat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-card style="padding:5px;border-style:solid; border-width: 1px;" *ngFor="let salon of list_salon_yang_dituju">
      <ion-label>Nama Salon : {{salon.nama_salon}}</ion-label><br>
      <ion-label>Waktu tiba : {{transformDate(salon.waktu_tiba)}}</ion-label><br>
      <ion-label>Review : </ion-label> <ion-label *ngIf="salon.is_done_reviewed == 1 else belum_review" color="success"> DONE </ion-label> <br>
      <ng-template #belum_review><ion-label color="danger" (click)="menampilkanFormReview(salon.idSalon, salon.id)">BELUM</ion-label></ng-template>
    </ion-card>
  </ion-list>
</ion-content>
