<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" (click)="closeModal()"
      style="width:25px; height:25px;float:left;margin-left:10px"></ion-icon>
    <ion-title>Review</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="category-block">
    <ion-row no-padding>
      <ion-col text-left align-self-center>
        <h3><b><u>Jasa</u></b></h3>
        <p style="font-size: 8pt;">Pilihlah jasa yang anda rekomendasikan</p>
      </ion-col>
    </ion-row>
  </div>

  <ion-list>
    <ion-item *ngFor="let jasa of list_jasa_salon_tertentu">
      <ion-checkbox (click)="rekomendasi_jasa($event)" [value]="jasa.idJasa"></ion-checkbox>&nbsp;{{jasa.nama_jasa}}
    </ion-item>
  </ion-list>

  <div class="category-block">
    <ion-row no-padding>
      <ion-col text-left align-self-center>
        <h3><b><u>Fasilitas</u></b></h3>
        <p style="font-size: 8pt;">Pilihlah fasilitas yang anda rekomendasikan</p>
      </ion-col>
    </ion-row>
  </div>

  <ion-list>
    <ion-item *ngFor="let fasilitas of list_fasilitas_salon_tertentu">
      <ion-checkbox (click)="rekomendasi_fasilitas($event)" [value]="fasilitas.idFasilitas"></ion-checkbox>
      &nbsp;{{fasilitas.nama_fasilitas}}
    </ion-item>
  </ion-list>
  <div padding>
    <ion-button color="primary" size="large" type="submit" (click)="simpanReview()" expand="block">Kirim Review
    </ion-button>
  </div>
</ion-content>