<ion-header>
  <ion-toolbar>
    <ion-icon name="arrow-round-back" (click)="closeModal()"
      style="width:25px; height:25px;float:left;margin-left:10px"></ion-icon>
    <ion-title>Info Salon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides [options]="sliderOptions">
    <ion-slide *ngFor="let gambar of list_gambar" style="height: 400px;width: 100% ;">
      <img src="{{url}}/gambarsalon-{{gambar.idgambar}}{{gambar.idSalon}}.{{gambar.ext}}"
        style="height: 400px; width: 400px;">
    </ion-slide>
  </ion-slides>
  <div class="category-block">
    <ion-row no-padding>
      <ion-col text-left align-self-center>
        <h3><b><u>Informasi Salon</u></b></h3>
      </ion-col>
    </ion-row>
  </div>
  <table style="border-collapse: collapse;text-align: left; margin:10px;font-size: 12pt;">
    <tr>
      <td>{{salon.nama_salon}}</td>
    </tr>
    <tr>
      <td>{{salon.alamat}} </td>
    </tr>
    <tr>
      <td>{{limitDecimal(salon.jarak)}} km <b>&middot;</b> &nbsp; <ion-icon name="car"></ion-icon>
        &nbsp;{{limitDecimal(salon.durasi)}} menit</td>
    </tr>
    <tr>
      <td>{{salon.waktu_buka}} - {{salon.waktu_tutup}}</td>
    </tr>
  </table>
  <div class="category-block">
    <ion-row no-padding>
      <ion-col text-left align-self-center>
        <h3><b><u>Fasilitas</u></b></h3>
      </ion-col>
    </ion-row>
  </div>
  <div>
    <ion-list>
      <div *ngFor="let fasilitas of list_fasilitas">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-text>{{fasilitas.nama_fasilitas}}</ion-text>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-text>{{fasilitas.jumlah_orang_rekomendasi}}</ion-text>&nbsp;<ion-icon name="thumbs-up"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-list>
  </div>
  <div class="category-block">
    <ion-row no-padding>
      <ion-col text-left align-self-center>
        <h3><b><u>Informasi Jasa</u></b></h3>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="list_informasi_jasa.length >0">
    <ion-list>
      <div *ngFor="let jasa of list_informasi_jasa">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-text>{{jasa.nama_jasa}}</ion-text>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-text>Rp. {{jasa.harga}}</ion-text>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-text>{{jasa.jumlah_orang_rekomendasi}}</ion-text> &nbsp;<ion-icon name="thumbs-up"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-slides [options]="sliderOptions">
          <ion-slide *ngFor="let gambar_jasa of list_gambar_jasa" style="width:400px; height: 400px;">
            <img
              src="{{url}}/gambarjasa-{{gambar_jasa.idgambar}}{{salon['idSalon']}}{{jasa.idJasa}}.{{gambar_jasa.ext}}"
              style="height: 400px; width: 400px;">
          </ion-slide>
        </ion-slides>
      </div>


    </ion-list>
  </div>
</ion-content>