<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-item>

        <ion-select [disabled]="onDirection" multiple="true" placeholder="Pilih Jasa" [(ngModel)]="jasa"
          (ionChange)="search()" style="max-width: 100% !important">
          <ion-label>Pilih minimal 1 jasa</ion-label>
          <ion-select-option *ngFor="let jasa of master_jasa" [value]="jasa.idJasa">{{jasa.nama_jasa}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="map" id="map">

</div>
<div *ngIf="final.length>0">
  <ion-slides #testSlide [options]="sliderOptions" (ionSlideDidChange)="getActivedIndex()">
    <ion-slide *ngFor="let fin of final; let i = index">
      <ion-card>
        <table style="text-align: left;margin: 10px; padding:10px;">
          <tr>
            <td><b><label>{{fin.nama_salon}}</label></b></td>
          </tr>
          <tr>
            <td>
              <ion-icon name="trending-up"></ion-icon>&nbsp; &nbsp; <label>{{limitDecimal(fin.jarak)}} km</label>
            </td>
          </tr>
          <tr>
            <td>
              <ion-icon name="car"></ion-icon> &nbsp; &nbsp;<label>{{roundingDecimal(fin.durasi)}}
                menit</label>
            </td>
          </tr>
          <tr>
            <td>
              <ion-icon name="clock"></ion-icon>&nbsp; &nbsp;<label>{{fin.waktu_buka}} - {{fin.waktu_tutup}}</label>
            </td>
          </tr>
          <tr>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <div>
                    <ion-button *ngIf="onDirection==false" (click)="mengarahkanKeSalon(fin.longitude,fin.latitude,fin)">
                      Arahkan &nbsp;
                      <ion-icon name="map"></ion-icon>
                    </ion-button>
                    <ion-button *ngIf="onDirection==true" (click)="cancelDirection()">Batal &nbsp;
                      <ion-icon name="close-circle-outline"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <ion-button (click)="menampilkanInformasiSalon(fin)">Info Salon &nbsp;
                      <ion-icon name="information-circle"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <ion-button [disabled]="!onDirection" (click)="selesaikanPerjalanan()">Selesai &nbsp;
                      <ion-icon name="checkmark"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <ion-button [disabled]="onDirection" (click)="openOptionTimer(fin)">Reminder &nbsp;
                      <ion-icon name="alarm"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </tr>
        </table>

      </ion-card>
    </ion-slide>
  </ion-slides>
</div>