.map{
  width: inherit;
  height: 100%;
}

ion-card{
  width: 100%;
  height: 200px;
  padding: 0px;
}

table{
  position: absolute;
}

.table-button {
  position: relative;
}

ion-button{
  width: 100px;
  font-size: 7pt;
}

label {
  font-size: 11pt;
}