<ion-content>
  <ion-row color="light" justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h3>Register Salonku</h3>
      </div>
      <div padding>
        <ion-item color="light">
          <ion-input color="dark" name="nama" type="text" placeholder="Nama" (input)="getNama($event)" required>
          </ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-input color="dark" name="username" type="text" placeholder="Username" (input)="getUsername($event)"
            required></ion-input>
        </ion-item>
        <ion-item color="light">
          <ion-input color="dark" name="password" type="password" placeholder="Password" (input)="getPassword($event)"
            required></ion-input>
        </ion-item>
      </div>

      <div padding>
        <ion-text><b><u>Pilih Kriteria</u></b></ion-text>
        <ion-item color="light">
          <ion-select multiple="true" placeholder="Pilih kriteria" style="width:1000px" [(ngModel)]="kriteria"
            (ionChange)="refreshSelectedKriteria()">
            <ion-select-option *ngFor="let kriteria of master_kriteria" [value]="kriteria">{{kriteria.nama_kriteria}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <div style="width: inherit;height: inherit; border: 1px solid black;">
          <ion-row>
            <ion-col>
              <ion-text><b>Urutkan mulai dari terpenting</b></ion-text>
            </ion-col>
          </ion-row>
          <ion-list>
            <ion-reorder-group (ionItemReorder)="reorderSelectedKriteria($event)" disabled="false">
              <ion-reorder *ngFor="let kriteria of selected_kriteria">
                <ion-item>
                  <ion-label>
                    {{kriteria.nama_kriteria}}
                  </ion-label>
                </ion-item>
              </ion-reorder>
            </ion-reorder-group>
          </ion-list>
        </div>
      </div>

      <div padding *ngIf="displayContainerReorderFasilitas()">
        <ion-text><b><u>Pilih Fasilitas</u></b></ion-text>
        <ion-item color="light">
          <ion-select multiple="true" placeholder="Pilih fasilitas" style="width:1000px" [(ngModel)]="fasilitas"
            (ionChange)="refreshSelectedFasilitas()">
            <ion-select-option *ngFor="let fasilitas of master_fasilitas" [value]="fasilitas">
              {{fasilitas.nama_subkriteria}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div style="width: inherit;height: 200px; border: 1px solid black;">
          <ion-row>
            <ion-col>
              <ion-text><b>Urutkan mulai dari terpenting</b></ion-text>
            </ion-col>
          </ion-row>
          <ion-list>
            <ion-reorder-group (ionItemReorder)="reorderSelectedFasilitas($event)" disabled="false">
              <ion-reorder *ngFor="let fasilitas of selected_fasilitas">
                <ion-item>
                  <ion-label>
                    {{fasilitas.nama_subkriteria}}
                  </ion-label>
                </ion-item>
              </ion-reorder>
            </ion-reorder-group>
          </ion-list>
        </div>
      </div>
      <div padding>
        <ion-button color="success" size="large" type="submit" (click)="register()" expand="block">Register</ion-button>
      </div>
      <ion-row>
        <label style="text-align:center;margin:auto;">Punya akun ?&nbsp; <a routerLink="/login">Login</a></label>
      </ion-row>
    </ion-col>
  </ion-row>

</ion-content>